src/main/java/com/front/setting.json
[
    {
        "id": "629ae45871adbc47",
        "type": "mqtt in",
        "z": "3e6845589ff74cae",
        "name": "",
        "topic": "application/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a1d825dd77ef1aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "17e288ba72956023",
                "24abd1ce76ec75c6"
            ]
        ]
    },
    {
        "id": "17e288ba72956023",
        "type": "debug",
        "z": "3e6845589ff74cae",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "3bb32f29566bae7a",
        "type": "function",
        "z": "3e6845589ff74cae",
        "name": "function 4",
        "func": "msg.info = msg.payload.deviceInfo.tags;\nmsg.object = msg.payload.object;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "ed08d444ceb81169"
            ]
        ]
    },
    {
        "id": "24abd1ce76ec75c6",
        "type": "switch",
        "z": "3e6845589ff74cae",
        "name": "Has deviceInfo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "deviceInfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "3bb32f29566bae7a",
                "37c51f326ac92e1f"
            ]
        ]
    },
    {
        "id": "735fea81f9c43c5a",
        "type": "debug",
        "z": "3e6845589ff74cae",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "ed08d444ceb81169",
        "type": "function",
        "z": "3e6845589ff74cae",
        "name": "function 5",
        "func": "let common_topic =\"data\";\n\nfor (let element in msg.info) {\n    switch (element){\n        case 'site' : common_topic += \"/s/\" + msg.info[element]; break; \n        case 'name' : common_topic += \"/n/\" + msg.info[element]; break; \n        case 'branch' : common_topic += \"/b/\" + msg.info[element]; break; \n        case 'place' : common_topic += \"/p/\" + msg.info[element]; break;\n    }\n}\n\nlet date = new Date();\nmsg.payload = [];\n\nfor (let sensorType in msg.object) {\n    let new_msg = {\n        topic : common_topic + \"e/\" + sensorType,\n        payload : {\n            time : date.getTime(),\n            value : msg.object[sensorType]\n            \n        } \n    }\n\n    msg.payload.push(new_msg);\n    \n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 320,
        "wires": [
            [
                "735fea81f9c43c5a",
                "ae5860d878b854b5"
            ]
        ]
    },
    {
        "id": "ae5860d878b854b5",
        "type": "split",
        "z": "3e6845589ff74cae",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "7aa2bffdf7c81786",
                "04254c4c46e121d2"
            ]
        ]
    },
    {
        "id": "67037c1e987454e4",
        "type": "debug",
        "z": "3e6845589ff74cae",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "7aa2bffdf7c81786",
        "type": "change",
        "z": "3e6845589ff74cae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 380,
        "wires": [
            [
                "67037c1e987454e4"
            ]
        ]
    },
    {
        "id": "04254c4c46e121d2",
        "type": "debug",
        "z": "3e6845589ff74cae",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "8f2498016192317b",
        "type": "mqtt out",
        "z": "3e6845589ff74cae",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "87dcaaefe49f26d3",
        "x": 1150,
        "y": 380,
        "wires": []
    },
    {
        "id": "37c51f326ac92e1f",
        "type": "debug",
        "z": "3e6845589ff74cae",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "a1d825dd77ef1aa5",
        "type": "mqtt-broker",
        "name": "NHN Academy EMS",
        "broker": "ems.nhnacademy.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "87dcaaefe49f26d3",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]